<div class="container page">
    <mat-grid-list cols="3" rowHeight="2:1" class="grade-img">
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="https://th.bing.com/th/id/R.9a568ee09094a537023220aa6b68a2b6?rik=4pWncmxkcIPaDg&pid=ImgRaw&r=0" alt=""></mat-grid-tile>
      </mat-grid-list>
</div>