<div class="container page">
    <div class="conteudocentral">
        <h1>Quem somos? 🤔</h1>
        <p>Bem-vindo ao "Inspire os Outros", um projeto inspirador e inclusivo liderado pela Prefeitura de Itapevi, dedicado a promover o engajamento cívico e o desenvolvimento comunitário por meio da arte, cultura e educação. Aqui, celebramos a diversidade, fomentamos a criatividade e fortalecemos os laços que unem nossa comunidade.</p>
        <h1>Missão</h1>
        <p>Nosso objetivo é criar um ambiente inclusivo e estimulante onde cada indivíduo, independentemente de sua idade, origem ou habilidade, possa se expressar livremente, explorar seu potencial criativo e inspirar os outros ao seu redor.</p>
    </div>    
</div>