<header>
    <div class="container">
        <div class="logo">
            <a routerLink="/">      <img src="../../../assets/img/logo.oficial.png" alt="logo-inspire-os-outros"></a>
            <h1>Inspire os Outros</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a routerLink="/"><h3>Home</h3></a></li>
                <li><a routerLink="/sobre-nos"><h3>Sobre nós</h3></a></li>
                <li><a routerLink="/eventos"><h3>Eventos</h3></a></li>
                <li><a routerLink="/midia"><h3>Mídia</h3></a></li>
                <li><a routerLink="/projetos-em-andamento"><h3>Projetos em andamento</h3></a></li>
                <li><a routerLink="/parque-da-cidade"><h3>Parque da Cidade</h3></a></li>
            </ul>
        </div>
    </div>
</header>