
h1{
    font-family: 'font-Principal-h1', sans-serif;
}
h3{
    font-family: 'font-Secundaria-h3', sans-serif;
}

.page{
    background-color: rgb(61, 123, 216);
    width: 97%;
    height: 80%
}
.container{
    padding: 20px;
}
